---
const title = "4evour Blog Admin";
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <title>{title}</title>
  </head>
  <body>
    <script is:inline src="https://unpkg.com/@sveltia/cms@0.164.2/dist/sveltia-cms.js"></script>
  </body>
</html>
